.article-teaser {
  background-color: color(main-pink);
  padding: 24px;
  margin-bottom: 16px;

  p {
    margin-top: 0;
  }
}

@include mq('lg') {
  .article-wrapper {
    display: flex;
    flex-direction: row;
  }

  .article-teaser {
    margin-right: 35px;
    min-width: 359px;

    &:last-child {
      margin-right: 0;
    }
  }
}
