.hamburger {
  &-scroll-mask {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    .page-scrolled & {
      opacity: 0.8;
    }
  }
}

.page-top,
.page-scrolled {
  position: absolute;
  z-index: 2;
}
