.highlight {
  position: relative;
  display: block;

  &:after {
    content: '';
    position: absolute;
    bottom: -58px;
    left: 0;
    height: 50px;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 0;
    background-image: url('../../assets/images/highlight1.svg');
  }
  
  &--long {
    &:after {
      width: 100%;
    }
  }

  &--small {
    &:after {
      width: 60%;
      bottom: -55px;
    }
  }

  &--white {
    &:after {
      background-image: url('../../assets/images/highlight--white1.svg');
    }
  }
}

.hero__highlight {
  display: none;
}


.element {
  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
  }

  &--centre {
    transform: translateX(-50%);
    left: 50%;
  }
}

@include mq('lg') {
  .hero__highlight {
    display: block;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
