.list-item {
  padding-left: 15px;
  position: relative;
  font-size: 14px;
  padding-bottom: 10px;

  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: color(bright-pink);
  }
}

.client-image-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
