.slick-dots {
  bottom: -50px;

  li {
    margin: 0;
    width: 48px;
    height: 48px;
    
    button {
      width: 48px;
      height: 48px;

      &:before {
        color: color(main-pink-darker);
        opacity: 1;
        font-size: 20px;
        line-height: 48px;
        width: 48px;
        height: 48px;
      }
    }
  }

  li.slick-active {
    button {
      &:before {
        color: color(bright-pink);
      }
    }
  }
}

.testimonials {
  .slick-dots {
  
    li {
      margin: 0;
      button {
        width: 48px;
        height: 48px;

        &:before {
          color: black;
          opacity: 1;
          font-size: 20px;
          line-height: 48px;
          width: 48px;
          height: 48px;
        }
      }
    }
  
    li.slick-active {
      button {
        &:before {
          color: color(bright-pink);
        }
      }
    }
  }
}
