.slick-dots {
  bottom: -50px;

  li {
    margin: 0;
    width: 30px;
    height: 30px;

    button {
      width: 30px;
      height: 30px;

      &:before {
        color: color(main-pink-darker);
        opacity: 1;
        font-size: 20px;
        line-height: 30px;
        width: 30px;
        height: 30px;
      }
    }
  }

  li.slick-active {
    button {
      &:before {
        color: color(bright-pink);
      }
    }
  }
}

.testimonials {
  .slick-dots {
  
    li {
      margin: 0;
      button {
        width: 30px;
        height: 30px;

        &:before {
          color: black;
          opacity: 1;
          font-size: 20px;
          line-height: 30px;
          width: 30px;
          height: 30px;
        }
      }
    }
  
    li.slick-active {
      button {
        &:before {
          color: color(bright-pink);
        }
      }
    }
  }
}

.slick-prev,
.slick-next {
  border-radius: 30px;
  background: color(main-pink-darker);

  &:hover,
  &:active,
  &:focus {
    background: color(bright-pink);
  }

  &:before {
    font-family: unset;
    opacity: 1;
  }
}

.slick-disabled {
  opacity: 0;
}

@include mq('lg') {
  .slick-prev {
    left: -40px;
  }

  .slick-next {
    right: -40px;
  }
}

@include mq('xl') {
  .slick-prev {
    left: -50px;
  }

  .slick-next {
    right: -50px;
  }
}
