.testimonials {
  .author {
    &__image {
      display: inline-block;
      width: 48px;
      height: 48px;
    }

    &__description {
      display: inline-block;
      margin: 16px 0 16px 14px;
      vertical-align: super;

      p {
        margin: 0;
      }
    }
  }

  .quote-wrapper {
    width: 32px;
    padding-top: 18px;
  }
}

@include mq('md') {
  .testimonials {

    &__card {
      min-height: 311px;
    }
  }
}

@include mq('lg') {
  .testimonials {

    &-content {
      width: 450px;
    }

    &__card {
      margin-right: 33px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 456px;

      > p {
        min-height: 270px;
      }
    }
  }
}
