.hero {
  background-color: #E22503;
  color: #FFFAE6;
  position: relative;
  display: flex;
}

.heroContent {
  max-width: 660px;
}

.heroTitle {
  color: #FFC2FD;
}

.heroImage {
  max-width: 730px;
}

.heroImage img {
  width: 100%;
  height: auto;
}
