// Coustard: 900
@font-face {
  font-family: 'Coustard';
  src: url('../../assets/fonts/Coustard/Coustard-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

// Karla: 400
@font-face {
  font-family: 'Karla';
  src: url('../../assets/fonts/Karla/Karla-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

// Karla: 700
@font-face {
  font-family: 'Karla';
  src: url('../../assets/fonts/Karla/Karla-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
