.sub-title {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  
  &--pink {
    color: color(bright-pink);
  }
}

h2 {
  font-size: 40px;
}
